<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="deptForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
            <div class="btn-toolbar">
              <button 
                type="submit" 
                class="btn btn-success">
                  Save
              </button>
              <button 
                type="button" 
                class="btn btn-danger"
                (click)="onCancel()">
                  Cancel
              </button>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="departmentName">Department Name</label>
            <input 
              type="text" 
              id="departmentName" 
              formControlName="departmentName"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="departmentLoc">Department Location</label>
            <input 
              type="text" 
              id="departmentLoc" 
              formControlName="departmentLoc"
              class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>