<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="btn btn-default" routerLink="/login">Login</a></li>
              <li><a class="btn btn-default">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

