<div class="row">
  <div class="col-xs-12">
    <h2>customer List</h2>
  </div>
</div>
<hr>

<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email Id</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.date}}</td>
      <td><a [routerLink]="['/customer-edit', customer.id]">Edit</a></td>
    </tr>
  </tbody>
</table>

<hr>
<div class="row">
  <div class="col-xs-2">
    <button class="btn btn-primary" [routerLink]="['/customer-add']">
      Customer Data Add
    </button>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-warning" 
            [routerLink]="['/customer-data']">
      Customer Data View
    </button>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-success" 
            [routerLink]="['/customer-department']">
      Customer Department Add
    </button>
  </div>
</div> 